<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/MD16/store}" th:object="${item}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${item.xcode ne null}" th:field="*{xcode}">
				<input type="hidden" id="entityid" th:if="${item.xcode ne null}" th:value="${item.xcode}">

				<div class="row">
					<div th:classappend="${item.xcode ne null ? 'col-md-10' : 'col-md-12'}">
						<div class="row">
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Code</label>
									<div class="input-group">
										<input 	type="text" 
												class="form-control searchsuggest2"
												name="xcode"
												th:value="${item.xcode != null ? item.xcode : ''}"
												disabled="disabled">
										<span 	class="input-group-text btn-search" 
												th:attr="
												data-reloadurl='/search/table/LMD16/0?hint=', 
												data-reloadid='search-suggest-results-container', 
												data-fieldid='xcode',
												data-mainscreen=true,
												data-mainreloadurl='/MD16?xcode=',
												data-mainreloadid='main-form-container',
												data-detailreloadurl='/MD16/detail-table?xvariation=RESET&xitem=',
												data-detailreloadid='detail-table-container',
												data-additionalreloadurl='/MD16/addons-table?xaddons=RESET&xitem=,/MD16/sets-table?xsetitem=RESET&xitem=',
												data-additionalreloadid='addons-table-container,sets-table-container'"
												style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Item Name</label>
									<input type="text" class="form-control" th:field="*{xname}" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Category</label>
									<div class="input-group">
										<input 	type="text" 
												class="form-control searchsuggest2"
												id="xcat"
												th:value="${item.xcat != null ? item.xcat + ' - ' + item.categoryname : ''}">
										<input 	type="hidden" class="search-val" name="xcat" th:value="*{xcat}" required="required"/>
										<span 	class="input-group-text btn-search" 
												th:attr="
												data-reloadurl='/search/table/LMD13/0?hint=', 
												data-reloadid='search-suggest-results-container', 
												data-fieldid='xcat',
												data-mainscreen=false" 
												style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
										<span 	class="input-group-text btn-search-clear" 
												style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
									</div>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Sequence index</label>
									<input type="number" class="form-control numeric-only" th:field="*{xseqn}" min="0" step="1" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">SKU (Serial Id)</label>
									<input type="text" class="form-control" th:field="*{xsku}"/>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Barcode</label>
									<input type="text" class="form-control" th:field="*{xbarcode}"/>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Subtitle</label>
									<textarea rows="1" cols="" class="form-control" th:field="*{xsubtitle}"></textarea>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Deacription</label>
									<textarea rows="1" cols="" class="form-control" th:field="*{xdesc}"></textarea>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Unit of Measurement</label>
									<select th:field="*{xuom}" class="form-control select" required>
										<option value="">-- Select --</option>
										<option th:each="x : ${uoms}" th:value="${x.xcode}" th:text="${x.xname}"></option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">Price</label>
									<input type="number" class="form-control numeric-only" th:field="*{xprice}" min="0" required="required">
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">VAT/TAX</label>
									<select th:field="*{xvat}" class="form-control select" required>
										<option value="">-- Select --</option>
										<option th:each="x : ${vats}" th:value="${x.xcode}" th:text="${x.xrate + '%'}"></option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label">SD</label>
									<select th:field="*{xsd}" class="form-control select" required>
										<option value="">-- Select --</option>
										<option th:each="x : ${sds}" th:value="${x.xcode}" th:text="${x.xrate + '%'}"></option>
									</select>
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label d-block" for="xsetmenu">Is Set Menu?</label>
									<input type="checkbox" id="xsetmenu" th:field="*{xsetmenu}">
								</div>
							</div>
							<div class="col-md-3">
								<div class="mb-3 form-group">
									<label class="form-label d-block" for="zactive">Is Active?</label>
									<input type="checkbox" id="zactive" th:field="*{zactive}">
								</div>
							</div>
						</div>
					</div>

					<div class="col-md-2" th:if="${item.xcode ne null}">
						<div class="card">
							<div class="sidebar-section-body text-center" style="padding: 20px;">
								<div class="card-img-actions d-inline-block mb-3">
									<img id="imagePreview" th:src="@{/assets/images/placeholder.png}" alt="Item Image" width="100%"/>
									<input type="hidden" th:if="${item.imageBase64 ne null}" id="imageBase64" th:value="${item.imageBase64}" readonly></input>
									<div class="card-img-actions-overlay card-img">
										<input type="file" name="image" class="form-control avatar-image" id="avatar" accept="image/*">
										<a th:href="@{/MD16/image}" class="btn btn-outline-white btn-icon rounded-pill avatar-upload" id="avatar-upload"><i class="ph-pencil"></i></a>
									</div>
								</div>
								<div class="d-flex justify-content-center mt-3">
									<a href="#" class="link-pink" data-bs-popup="tooltip" aria-label="Delete Image" data-bs-original-title="Delete Image">
										<i class="ph-trash"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" 
								th:attr="
									data-reloadurl='/MD16?xcode=RESET', 
									data-reloadid='main-form-container', 
									data-detailreloadurl='/MD16/detail-table?xitem=RESET&xvariation=RESET', 
									data-detailreloadid='detail-table-container', 
									data-addonsreloadurl='/MD16/addons-table?xitem=RESET&xaddons=RESET', 
									data-addonsreloadid='addons-table-container'" 
								class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${item.xcode ne null}" th:attr="data-url=@{/MD16?xcode=} + ${item.xcode}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${item.xcode ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${item.xcode eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('detailreloadid'),
					url : $(this).data('detailreloadurl')
				});

				sectionReloadAjaxReq({
					id : $(this).data('addonsreloadid'),
					url : $(this).data('addonsreloadurl')
				});


			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			var imageBase64 = $('#imageBase64').val();
			var imagePreview= document.getElementById('imagePreview');
			if(imageBase64 != undefined){
				if(imagePreview) {
					imagePreview.src = "data:image/png;base64," + imageBase64;
				}
			}

		})
	</script>
</div>

<div th:fragment="detail-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${itemVariation}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Variation of Item - <span class="text-success" th:text="${item.xname}"></span> </h6>
		</div>

		<div class="card-body">
			<form id="detailform" class="form-validate-jquery" th:action="@{/MD16/detail/store}" th:object="${itemVariation}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xitem}">
				<input type="hidden" th:field="*{xvariation}" th:if="${itemVariation.xvariation ne null}">

				<div class="row">
					<div class="col-md-3" th:if="${itemVariation.xvariation eq null}">
						<div class="mb-3 form-group">
							<label class="form-label">Variation</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xvariation"
										th:value="${itemVariation.xvariation != null ? itemVariation.variationName : ''}">
								<input 	type="hidden" class="search-val" name="xvariation" th:value="*{xvariation}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD15/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xvariation',
										data-mainscreen=false" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
								<span 	class="input-group-text btn-search-clear" 
										style="cursor: pointer;"><i class="ph-arrow-counter-clockwise"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemVariation.xvariation ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Variation</label>
							<input type="text" class="form-control" th:value="${itemVariation.variationName}" disabled/>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="xrequired">Is Selection Required?</label>
							<input type="checkbox" id="xrequired" th:field="*{xrequired}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD16/detail-table?xitem='+ ${itemVariation.xitem} +'&xvariation=RESET', data-reloadid='detail-table-container'" class="btn btn-light btn-sm btn-detail-reset">Clear</button>
					</div>
					<div>
						<button th:if="${itemVariation.xvariation ne null}" th:attr="data-url=@{/MD16/detail-table?xitem=} + ${itemVariation.xitem} + '&xvariation=' + ${itemVariation.xvariation}" type="button" class="btn btn-danger btn-sm btn-detail-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${itemVariation.xvariation ne null}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${itemVariation.xvariation eq null}" type="submit" class="btn btn-primary btn-sm btn-detail-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(itemVariations)}">
			<table class="table">
				<thead>
					<tr>
						<th>Variation Name</th>
						<th>Variation Options</th>
						<th class="text-end">Selection Required?</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${itemVariations}">
						<td>
							<a class="detail-dataindex" th:attr="data-reloadid='detail-table-container', data-reloadurl='/MD16/detail-table?xitem=' + ${x.xitem} + '&xvariation=' + ${x.xvariation}" th:href="@{/MD16/detail-table?xitem=} + ${x.xitem} + '&xvariation=' + ${x.xvariation}" th:text="${x.variationName}"></a>
						</td>
						<td>
							<table class="table">
								<tr th:each="o : ${x.options}">
									<td th:text="${'Name : ' + o.xname}"></td>
									<td class="text-end" th:text="${'Price : ' + o.xprice}"></td>
								</tr>
							</table>
						</td>
						<td class="text-end" th:text="${x.xrequired ? 'Y' : 'N'}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-detail-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-detail-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#detailform'));
			});

			$('.btn-detail-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.detail-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>


<div th:fragment="addons-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${itemAddons}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">AddOns of Item - <span class="text-success" th:text="${item.xname}"></span> </h6>
		</div>

		<div class="card-body">
			<form id="addonsform" class="form-validate-jquery" th:action="@{/MD16/addons/store}" th:object="${itemAddons}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xitem}">
				<input type="hidden" th:field="*{xaddons}" th:if="${itemAddons.xaddons ne null and itemAddons.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE}">

				<div class="row">
					<div class="col-md-3" th:if="${itemAddons.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).INSERT.toString()}">
						<div class="mb-3 form-group">
							<label class="form-label">AddOns</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xaddons"
										th:value="${itemAddons.xaddons != null ? itemAddons.addonsName : ''}">
								<input 	type="hidden" class="search-val" name="xaddons" th:value="*{xaddons}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD14/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xaddons',
										data-mainscreen=true,
										data-mainreloadurl='/MD16/addons-table?xitem='+ ${itemAddons.xitem} +'&xaddons=',
										data-mainreloadid='addons-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemAddons.xaddons ne null and itemAddons.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE.toString()}">
						<div class="mb-3 form-group">
							<label class="form-label">AddOns</label>
							<input type="text" class="form-control" th:value="${itemAddons.addonsName}"/>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemAddons.xaddons ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Price</label>
							<input type="text" class="form-control" th:value="${itemAddons.addonsPrice}" disabled/>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD16/addons-table?xitem='+ ${itemAddons.xitem} +'&xaddons=RESET', data-reloadid='addons-table-container'" class="btn btn-light btn-sm btn-addons-reset">Clear</button>
					</div>
					<div>
						<button th:if="${itemAddons.xaddons ne null and itemAddons.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE.toString()}" th:attr="data-url=@{/MD16/addons-table?xitem=} + ${itemAddons.xitem} + '&xaddons=' + ${itemAddons.xaddons}" type="button" class="btn btn-danger btn-sm btn-addons-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${itemAddons.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).INSERT.toString()}" type="submit" class="btn btn-primary btn-sm btn-addons-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(itemAddonsList)}">
			<table class="table">
				<thead>
					<tr>
						<th>AddOns</th>
						<th class="text-end">Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${itemAddonsList}">
						<td>
							<a class="addons-dataindex" th:attr="data-reloadid='addons-table-container', data-reloadurl='/MD16/addons-table?xitem=' + ${x.xitem} + '&xaddons=' + ${x.xaddons}" th:href="@{/MD16/addons-table?xitem=} + ${x.xitem} + '&xaddons=' + ${x.xaddons}" th:text="${x.addonsName}"></a>
						</td>
						<td class="text-end" th:text="${x.addonsPrice}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-addons-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-addons-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#addonsform'));
			});

			$('.btn-addons-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.addons-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>




<div th:fragment="sets-table" xmlns:th="http://www.thymeleaf.org">
	<div class="card" th:if="${itemSets}">
		<div class="card-header d-sm-flex align-items-sm-center py-sm-0">
			<h6 class="py-sm-3 mb-sm-auto">Set Items of Item - <span class="text-success" th:text="${item.xname}"></span> </h6>
		</div>

		<div class="card-body">
			<form id="setsform" class="form-validate-jquery" th:action="@{/MD16/sets/store}" th:object="${itemSets}" method="POST" th:with="df=${'yyyy-MM-dd'}">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:field="*{xitem}">
				<input type="hidden" th:field="*{xsetitem}" th:if="${itemSets.xsetitem ne null and itemSets.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE}">

				<div class="row">
					<div class="col-md-3" th:if="${itemSets.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).INSERT.toString()}">
						<div class="mb-3 form-group">
							<label class="form-label">Item</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										id="xsetitem"
										th:value="${itemSets.xsetitem != null ? itemSets.setItemName : ''}">
								<input 	type="hidden" class="search-val" name="xsetitem" th:value="*{xsetitem}" required="required"/>
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LMD16/1?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xsetitem',
										data-mainscreen=true,
										data-mainreloadurl='/MD16/sets-table?xitem='+ ${itemSets.xitem} +'&xsetitem=',
										data-mainreloadid='sets-table-container'" 
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemSets.xsetitem ne null and itemSets.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE.toString()}">
						<div class="mb-3 form-group">
							<label class="form-label">Item</label>
							<input type="text" class="form-control" th:value="${itemSets.setItemName}"/>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemSets.xsetitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">UOM</label>
							<input type="text" class="form-control" th:value="${itemSets.setItemUnit}" disabled/>
						</div>
					</div>
					<div class="col-md-3" th:if="${itemSets.xsetitem ne null}">
						<div class="mb-3 form-group">
							<label class="form-label">Quantity</label>
							<input type="number" class="form-control numeric-only" th:field="${itemSets.xqty}" min="0" required/>
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/MD16/sets-table?xitem='+ ${itemSets.xitem} +'&xsetitem=RESET', data-reloadid='sets-table-container'" class="btn btn-light btn-sm btn-sets-reset">Clear</button>
					</div>
					<div>
						<button th:if="${itemSets.xsetitem ne null and itemSets.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).UPDATE.toString()}" th:attr="data-url=@{/MD16/sets-table?xitem=} + ${itemSets.xitem} + '&xsetitem=' + ${itemSets.xsetitem}" type="button" class="btn btn-danger btn-sm btn-sets-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${itemSets.submitFor.toString() eq T(com.zubayer.enums.SubmitFor).INSERT.toString()}" type="submit" class="btn btn-primary btn-sm btn-sets-submit"><i class="ph-plus me-2"></i> Add New</button>
					</div>
				</div>
			</form>
		</div>

		<div class="table-responsive" th:if="${not #lists.isEmpty(itemSetsList)}">
			<table class="table">
				<thead>
					<tr>
						<th>Item</th>
						<th class="text-center">UOM</th>
						<th class="text-end">Quantity</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="x : ${itemSetsList}">
						<td>
							<a class="sets-dataindex" th:attr="data-reloadid='sets-table-container', data-reloadurl='/MD16/sets-table?xitem=' + ${x.xitem} + '&xsetitem=' + ${x.xsetitem}" th:href="@{/MD16/sets-table?xitem=} + ${x.xitem} + '&xsetitem=' + ${x.xsetitem}" th:text="${x.setItemName}"></a>
						</td>
						<td class="text-center" th:text="${x.setItemUnit}"></td>
						<td class="text-end" th:text="${x.xqty}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-sets-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-sets-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm(null, $('form#setsform'));
			});

			$('.btn-sets-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});
	
			$('a.sets-dataindex').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

		})
	</script>
</div>
