<div th:fragment="main-form" xmlns:th="http://www.thymeleaf.org">
	<div class="card">

		<div class="card-body">
			<form id="mainform" class="form-validate-jquery" th:action="@{/AD17/store}" th:object="${xusers}" method="POST">
				<input type="hidden" th:field="*{submitFor}"/>
				<input type="hidden" th:if="${xusers.xusername ne null}" th:field="*{xusername}">

				<div class="row">
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">UserID</label>
							<div class="input-group">
								<input 	type="text" 
										class="form-control searchsuggest2"
										name="xusername"
										th:value="${xusers.xusername != null ? xusers.xusername : ''}"
										disabled="disabled">
								<span 	class="input-group-text btn-search" 
										th:attr="
										data-reloadurl='/search/table/LAD17/0?hint=', 
										data-reloadid='search-suggest-results-container', 
										data-fieldid='xusername',
										data-mainscreen=true,
										data-mainreloadurl='/AD17?xusername=',
										data-mainreloadid='main-form-container'"
										style="cursor: pointer;"><i class="ph-magnifying-glass"></i></span>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Display Name</label>
							<input type="text" class="form-control" th:field="*{xdisplayname}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Password</label>
							<input type="text" class="form-control" th:field="*{xpassword}" required="required">
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Outlet</label>
							<select class="form-control select outlet-option" th:field="*{xoutlet}" required>
								<option value="">-- Select Outlet --</option>
								<option th:each="outlet : ${outlets}" th:value="${outlet.id}" th:text="${outlet.xname}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="shopid-field-container">
							<div th:remove="tag" th:include="pages/AD17/AD17-fragments :: shopid-field"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label">Role</label>
							<select class="form-control select" th:field="*{xrole}" required>
								<option value="">-- Select --</option>
								<option th:each="r : ${T(com.zubayer.enums.POSRole).values()}" th:value="${r}" th:text="${r}"></option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="mb-3 form-group">
							<label class="form-label d-block" for="zactive">Is Active?</label>
							<input type="checkbox" id="zactive" th:field="*{zactive}">
						</div>
					</div>
				</div>

				<div class="d-flex justify-content-between align-items-center">
					<div>
						<button type="reset" th:attr="data-reloadurl='/AD17?xusername=RESET', data-reloadid='main-form-container'" class="btn btn-light btn-sm btn-reset">Clear</button>
					</div>
					<div>
						<button th:if="${xusers.xusername ne null}" th:attr="data-url=@{/AD17?xusername=} + ${xusers.xusername}" type="button" class="btn btn-danger btn-sm btn-delete"><i class="ph-trash me-2"></i> Delete</button>
						<button th:if="${xusers.xusername ne null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Update</button>
						<button th:if="${xusers.xusername eq null}" type="submit" class="btn btn-primary btn-sm btn-submit"><i class="ph-floppy-disk me-2"></i> Add</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();

			$('.btn-reset').off('click').on('click', function(e){
				e.preventDefault();

				sectionReloadAjaxReq({
					id : $(this).data('reloadid'),
					url : $(this).data('reloadurl')
				});
			});

			$('.btn-submit').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			});

			$('.btn-delete').off('click').on('click', function(e){
				e.preventDefault();
				if(!confirm("Are you sure, to delete this?")){
					return;
				}
				deleteRequest($(this).data('url'));
			});

			$('select.outlet-option').on('change', function(){
				var selectedOutletId = $(this).val();
				if(selectedOutletId == null || selectedOutletId == '') selectedOutletId = 0;
				var xusername = $('#xusername').val();
				if(xusername == '' || xusername == undefined) xusername = 0;

				sectionReloadAjaxReq({
					id : 'shopid-field-container',
					url : '/AD17/shopid-field?xusername='+ xusername +'&outletid=' + selectedOutletId
				});
			});

		})
	</script>
</div>


<div th:fragment="shopid-field" xmlns:th="http://www.thymeleaf.org">
	<div class="mb-3 form-group">
		<label class="form-label">Shop</label>
		<select class="form-control select" id="xshop" name="xshop" required>
			<option value="">-- Select Shop --</option>
			<option th:each="shop : ${shops}" th:value="${shop.id}" th:text="${shop.xname}" th:selected="${xusers.xshop eq shop.id}"></option>
		</select>
	</div>

	<script type="text/javascript">
		$(document).ready(function(){
			kit.ui.init();
		});
	</script>
</div>