<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Login</title>

	<!-- <link th:href="@{/login-assets/images/favicon.ico}" rel="icon" type="image/x-icon" /> -->

	<!-- Global stylesheets -->
	<link th:href="@{/login-assets/fonts/inter/inter.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/login-assets/icons/phosphor/styles.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/login-assets/css/all.min.css}" id="stylesheet" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script th:src="@{/login-assets/js/jquery/jquery.min.js}"></script>
	<script th:src="@{/login-assets/js/bootstrap/bootstrap.bundle.min.js}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script th:src="@{/login-assets/js/app.js}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Inner content -->
			<div class="content-inner">

				<!-- Content area -->
				<div class="content d-flex justify-content-center align-items-center">

					<a class="basePath" th:href="@{/}"></a>

					<!-- Login form -->
					<div class="main-form-container">
						<form id="login-form" class="login-form" role="form" th:action="@{/login/fakelogin}" method="post" autocomplete="off">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<div class="d-inline-flex align-items-center justify-content-center mb-4 mt-2">
											<!-- <img th:src="@{/login-assets/images/logo.png}" class="h-48px" alt=""> -->
											<h1 class="m-0 p-0">ZPOS</h1>
										</div>
										<h5 class="mb-0">Login to your account</h5>
										<span class="d-block text-muted">Enter your credentials below</span>

										<div th:if="${param.error}" class="error-message-container d-none text-danger m-2 text-center">Wrong credential</div>
										<div th:if="${param.logout}" class="error-message-container d-none text-success m-2 text-center">You have been logged out</div>
										<div class="error-message-container d-none text-danger m-2 text-center">You have been logged out</div>
									</div>
	
									<div class="mb-3">
										<label class="form-label">Email</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="text" class="form-control" name="username" id="username" placeholder="Username" autocomplete="off">
											<div class="form-control-feedback-icon">
												<i class="ph-envelope-simple text-muted"></i>
											</div>
										</div>
									</div>
	
									<div class="mb-3">
										<label class="form-label">Password</label>
										<div class="form-control-feedback form-control-feedback-start">
											<input type="password" class="form-control" name="password" id="password" placeholder="•••••••••••" autocomplete="off">
											<div class="form-control-feedback-icon">
												<i class="ph-lock text-muted"></i>
											</div>
										</div>
									</div>
	
									<div class="mb-3">
										<button type="submit" class="btn btn-primary w-100 fake-login-btn">Sign in</button>
									</div>

									<div class="mb-3 text-center" style="font-size: 10px;">
										<span th:text="${'Version - ' + appVersion}"></span>
									</div>
								</div>
							</div>
						</form>
					</div>
					<!-- /login form -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /inner content -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->


	<div th:fragment="direct-login-form" xmlns:th="http://www.thymeleaf.org">
		<div th:if="${zid}">
			<i class="ph-spinner spinner"></i> Login Successfully
			<form id="loginmainform" role="form" th:action="@{/login}" method="post">
				<input type="hidden" name="username" th:value="${zemail}"/>
				<input type="hidden" name="password" th:value="${xpassword}"/>
				<input type="hidden" name=zid th:value="${zid}"/>
				<button type="submit" style="display: none"></button>
			</form>
			<script type="text/javascript">
				$(document).ready(function(){
					$('#loginmainform').trigger('submit');
				})
			</script>
		</div>
	</div>


	<script type="text/javascript">
		$(document).ready(function(){
			$('.fake-login-btn').off('click').on('click', function(e){
				e.preventDefault();
				submitMainForm();
			})
	
			/**
			 * Submit main form
			 */
			function submitMainForm(customurl){
				if($('form#login-form').length < 1) return;
	
				var targettedForm = $('form#login-form');
	
				var submitUrl = (customurl != undefined) ? customurl : targettedForm.attr('action');
				var submitType = targettedForm.attr('method');
				var formData = $(targettedForm).serializeArray();
	
				$.ajax({
					url : submitUrl,
					type :submitType,
					data : formData,
					success : function(data) {
						if(data.status == 'SUCCESS'){
							if(data.reloadsections != undefined && data.reloadsections.length > 0){
								$.each(data.reloadsections, function (ind, section) {
									if(section.postData.length > 0){
										var data = {};
										$.each(section.postData, function(pi, pdata){
											data[pdata.key] = pdata.value;
										})
										sectionReloadAjaxPostReq(section, data);
									} else {
										sectionReloadAjaxReq(section);
									}
								});
							} else if(data.reloadurl){
								doSectionReloadWithNewData(data);
							} else if(data.redirecturl){
								setTimeout(() => {
									window.location.replace(getBasepath() + data.redirecturl);
								}, 1000);
							}
						} else {
							$('.error-message-container').html(data.message);
							$('form#login-form').trigger("reset");
							$('.error-message-container').removeClass('d-none');
							setTimeout(() => {
								$('.error-message-container').addClass('d-none');
							}, 5000);
						}
					}, 
					error : function(jqXHR, status, errorThrown){
						alert("Something went wrong. Please contact with system administrator");
					}
				});
			}
	
			/**
			 * Generate project context path
			 */
			function getBasepath(){
				var basePath = $('a.basePath').attr('href');
				basePath = basePath.split('/')[1];
				var href = location.href.split('/');
				if(basePath != ''){
					return href[0] + '//' + href[2] + '/' + basePath;
				}
				return href[0] + '//' + href[2];
			}

			function sectionReloadAjaxReq(section) {
				$.ajax({
					url: getBasepath() + section.url,
					type: "GET",
					success: function (data) {
						$("." + section.id).html("");
						$("." + section.id).append(data);
					},
					error: function (jqXHR, status, errorThrown) {
						$('.error-message-container').html(data.message);
						$('form#login-form').trigger("reset");
						$('.error-message-container').removeClass('d-none');
						setTimeout(() => {
							$('.error-message-container').addClass('d-none');
						}, 5000);
					},
				});
			}

			function sectionReloadAjaxPostReq(section, data) {
				$.ajax({
					url: getBasepath() + section.url,
					type: "POST",
					data: data,
					success: function (data) {
						$("." + section.id).html("");
						$("." + section.id).append(data);
					},
					error: function (jqXHR, status, errorThrown) {
						$('.error-message-container').html(data.message);
						$('form#login-form').trigger("reset");
						$('.error-message-container').removeClass('d-none');
						setTimeout(() => {
							$('.error-message-container').addClass('d-none');
						}, 5000);
					},
				});
			}
		})
	</script>

</body>
</html>






















	